.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%;
    box-shadow: var(--boxShadow);
    border-radius: var(--chankBorderRadius);
    margin-bottom: 15px;
    margin-top: 5px;
}

.logo {
    font-size: 35px;
    flex: 0 0 60px;
    display: flex;
    font-weight: bold;
    transform-origin: left;
    color: var(--black);

    span {
        opacity: 0;
        animation: cursor 5s infinite;
    }
}

@keyframes cursor {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.user {
    flex: 0 0 200px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.name {
    font-size: 14px;
    margin-right: 10px;
    color: var(--black);
    font-weight: bold;
}

.avatar {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--grey);
}

.avatar img {
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}
