{
    "printWidth": 120,
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "singleQuote": true,
    "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
