.btn {
    color: white;
    border: none;
    outline: none;
    background-color: cadetblue;
    width: 100%;
    max-width: 150px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.btn[disabled] {
    background-color: slategrey;
}

.btn[disabled]:hover {
    transform: scale(1);
}

.btn:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
