html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #f2f2f2;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container-1200 {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.mb-30 {
  margin-bottom: 30px;
}

.welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.enter-with-auth {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.choose-avatar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
  }
}
